@media (min-width: 768px) {
    .page-index.page-archive .archive-entries .archive-entry:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .page-index.page-archive .archive-entries .archive-entry:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .page-index.page-archive .archive-entries .archive-entry:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .page-index.page-archive .archive-entries .archive-entry:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    .page-index.page-archive .archive-entries .archive-entry:nth-child(5) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .page-index.page-archive .archive-entries .archive-entry:nth-child(6) {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }
    .page-index.page-archive .archive-entries > div {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    .page-index.page-archive .hatena-urllist .urllist-item:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .page-index.page-archive .hatena-urllist .urllist-item:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .page-index.page-archive .hatena-urllist .urllist-item:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .page-index.page-archive .hatena-urllist .urllist-item:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    .page-index.page-archive .hatena-urllist .urllist-item:nth-child(5) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .page-index.page-archive .hatena-urllist .urllist-item:nth-child(6) {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }
    .page-index.page-archive .recent-entries > div {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .page-index.page-archive .hatena-module-entries-access-ranking > div {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    #bottom-editarea-inner .hatena-module:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    #bottom-editarea-inner .hatena-module:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    #bottom-editarea-inner .hatena-module:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
}

@media (min-width: 1037px) {
    .page-index.page-archive .archive-entries {
        -ms-grid-rows: auto 20px auto ;
        -ms-grid-columns: 1fr 2vw 1fr 2vw 1fr ;
    }
    .page-index.page-archive .archive-entries .archive-entry:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .page-index.page-archive .archive-entries .archive-entry:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .page-index.page-archive .archive-entries .archive-entry:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    .page-index.page-archive .archive-entries .archive-entry:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .page-index.page-archive .archive-entries .archive-entry:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    .page-index.page-archive .archive-entries .archive-entry:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }
    .page-index.page-archive .archive-entries > div {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .page-index.page-archive .hatena-urllist {
        -ms-grid-rows: auto 20px auto ;
        -ms-grid-columns: 1fr 2vw 1fr 2vw 1fr ;
    }
    .page-index.page-archive .hatena-urllist .urllist-item:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .page-index.page-archive .hatena-urllist .urllist-item:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .page-index.page-archive .hatena-urllist .urllist-item:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    .page-index.page-archive .hatena-urllist .urllist-item:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .page-index.page-archive .hatena-urllist .urllist-item:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    .page-index.page-archive .hatena-urllist .urllist-item:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }
    .page-index.page-archive .recent-entries > div {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
    .page-index.page-archive .entries-access-ranking > div {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    #bottom-editarea-inner {
        -ms-grid-rows: auto ;
        -ms-grid-columns: 1fr 2vw 1fr 2vw 1fr ;
    }
    #bottom-editarea-inner .hatena-module:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    #bottom-editarea-inner .hatena-module:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    #bottom-editarea-inner .hatena-module:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
}
